@keyframes DisCount {
  0%, 100% {
    /* transform: translateY(0); */
    rotate: -25deg;
  }
  50% {
    /* transform: translateY(-20px); */
    rotate: 30deg;
  }
  
}
.discount {
 animation: DisCount 8s ease-in-out infinite;
}
